body{
    font-size: 16px;
    margin: auto 40px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: row nowrap;
}
:root {
    --green: #11A15C;
    --white: #F4F3F3;
    --red: #D11212;
    --bg--green :#8DF0C0;
    --bg--red :#F2DBDB;
}
.container:nth-child(2){
    margin-left: 140px;
}
#form__container{
    margin-top:60px;
    font-family: 'Roboto', sans-serif;
}
#form__container h2{
    font-weight: 400;
    font-size: 16px;
}
form{
    width: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.input__group{
    width: 100%;
    display: flex;
    flex-flow: column;
}
.input__group:nth-child(2){
    margin-top: 12px;
}
label{
    margin-bottom: 3px;
    font-size: 12px;
}
input{
    height: 38px;
    border: 1px solid black;
    border-radius: 4px;
}
small{
    color: var(--red);
    text-align: right;
    margin-top: 4px;
}
button{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 0;
    height: 46px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 20px;
    background-color: var(--green);
    color: var(--white);
    box-shadow: 0px 2px 2px rgba(209, 135, 135, 0.6);
}
.btn_gasto{
    background-color: var(--red);
}

.container__info{
    font-family: 'Roboto', sans-serif;
    margin-top: 56px;
}
.container__info h2{
    font-weight: 400;
    margin-bottom: 12px;
}
#disponible{
    border-radius: 4px;
    background-color:var(--bg--green);
    padding: 16px 40px 16px 16px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-flow: row nowrap;
    width: 140px;
}
/* card gastos */
#titulo__container__gastos{
    margin-bottom: 2px;
}
#container__cards__gastos{
    display: grid;
    grid-template-columns: 320px 320px;
}
#gastos{
    border-radius: 4px;
    background-color:var(--bg--red);
    padding: 16px 20px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 20px;
}
/* container de spans */
.info__detail{
    display: flex;
    justify-content: space-between;
}
.info__detail:nth-child(2){
    margin-top: 8px;
}

.gastos__info__titulo{
    font-weight: 400;
    font-size: 20px;
}
#span__gastos__tipo,#span__gastos__cantidad{
    font-weight: 500;
    font-size: 20px;
}
#span__gastos__tipo,#span__gastos__cantidad{
    margin-left: 28px;
}

@media screen and (max-width:1000px){
    body{
        display: flex;
        flex-flow: column nowrap;
    }
    .container{
        display: flex;
        flex-flow: row;
    }
    .container:nth-child(2){
        margin-left: 0px;
    }
    .container__info{
        margin-top: 50px;
        margin-left: 30px;
    }
    #container__cards__gastos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:720px){
    form{
        width: 80%;
    }
    .container{
        display: flex;
        flex-flow: column;
    }
    .container:nth-child(2){
        margin-left: 0px;
    }
    .container__info{
        margin-top: 0px;
        margin-left: 0px;
    }
}
@media screen and (max-width:560px){
    body{
        margin: auto 20px;
    }
    form{
        width: 100%;
    }
    #container__cards__gastos{
        display: grid;
        grid-template-columns: 1fr;
    }
}
