body{
    font-size: 16px;
    margin: auto 40px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: row nowrap;
}
:root {
    --green: #11A15C;
    --white: #F4F3F3;
    --red: #D11212;
    --bg--green :#8DF0C0;
    --bg--red :#F2DBDB;
}
.container:nth-child(2){
    margin-left: 300px;
}
#form__container{
    margin-top:60px;
    font-family: 'Roboto', sans-serif;
}
#form__container h2{
    font-weight: 400;
    font-size: 16px;
}
form{
    width: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.input__group{
    width: 100%;
    display: flex;
    flex-flow: column;
}
.input__group:nth-child(2){
    margin-top: 12px;
}
label{
    margin-bottom: 3px;
    font-size: 12px;
}
input{
    height: 38px;
    border: 1px solid black;
    border-radius: 4px;
}
small{
    color: var(--red);
    text-align: right;
    margin-top: 4px;
}
button{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 0;
    height: 46px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 20px;
    background-color: var(--green);
    color: var(--white);
    box-shadow: 0px 2px 2px rgba(209, 135, 135, 0.6);
}
.btn_gasto{
    background-color: var(--red);
}

.container__info{
    font-family: 'Roboto', sans-serif;
    margin-top: 56px;
}
.container__info h2{
    font-weight: 400;
    margin-bottom: 12px;
}
.container__info #disponible{
    border-radius: 4px;
    background-color:var(--bg--green);
    padding: 16px 40px 16px 16px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
#container__cards__gastos{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}
.container__info #gastos{
    border-radius: 4px;
    background-color:var(--bg--red);
    padding: 16px 40px 16px 16px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.gastos__info__titulo{
    font-weight: 400;
    font-size: 20px;
}

#span__gastos__tipo,#span__gastos__cantidad{
    font-weight: 500;
    font-size: 20px;
}
#gastos{
    margin-right: 20px;
    margin-top: 20px;
}